.btn-j {
	padding: 0 2rem;
	border-radius: 1.5rem;
	height: 34px;
	line-height: 34px;
	border: 1px solid transparent;
	box-shadow: none;
	font-size: $font-sm;
	cursor: pointer;
	
	&__primary {
		background-color: $grey;
		color: white;
		transition: background-color .3s ease-in-out;
		
		&:hover {
			background-color: darken($grey, 10%);
		}
		
		&--inverted {
			color: $grey;
			background-color: white;
			border-color: $grey;
			transition: border-color .3s ease-in-out, color .3s ease-in-out;
			
			&:hover {
				border-color: #000;
				color: #000;
			}
		}
	}
}